// vcarticlebox101
// ==================================================/
@mixin vcarticlebox101_theme() {
  .vcarticlebox101 {
    background-color: #2a2a2d;
    color: #d5d5d5;

    .vcarticlebox101_heading {
      background-color: #2c2d32;
      color: #fff;
      border-bottom: 1px dashed #5c5d60;
    }

    .vcarticlebox101_img-holder {
      border: 1px solid #5c5d60;
    }

    .vcarticlebox101_extras {
      background-color: #343437;
    }
  }
}
@include vcarticlebox101_theme();

.vcarticlebox101 {
  @extend %padd--4; // temp. use padding of parent container instead

  article {
    @extend %padd--4;

    p {
      @extend %margin-top--4;
      line-height: 114%; /* most browsers is about 110% to 120% */
    }
  }

  .vcarticlebox101_heading {
    @extend %padd-bottom--4;
  }

  .vcarticlebox101_img-holder {
    @extend %padd--4;
    height: 100%;
    
  }

  .vcarticlebox101_extras {
    @extend %display--inline-block;
    @extend %padd--6;
    width: 100%;


    // p {
    //   set on mq below
    // }

    button {
      float: right;
      margin-right: 6px;
    }
  }
} 

// mobile portrait (320x480) 
@include mq($from: mobile) {
  .vcarticlebox101 {
    .vcarticlebox101_img-holder {
      width: 100%;
    }

    .vcarticlebox101_extras {
      p {
        margin-bottom: 10px;
      }
    }
  }
}

// mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .vcarticlebox101 {
    .vcarticlebox101_img-holder {
      display: block;
      width: 20%;
      float: left;
    }

    article {
      display: block;
      width: 80%;
      float: left;
    }

    .vcarticlebox101_extras {
      p {
        display: inline-block;
        margin: auto;
      }
    }
  }
}

// vcarticlebox102
// ==================================================/
@mixin vcarticlebox102_theme() {
  .vcarticlebox102 {
    background-color: #2a2a2d;
    color: #d5d5d5;

    .vcarticlebox102_heading1,
    .vcarticlebox102_heading2 {
      color: #fff;
    }

    .vcarticlebox102_heading1 + p {
      border-bottom: 1px dashed #5c5d60;
    }

    .vcarticlebox102_extras {
      background-color: #343437;
    }
  }
}
@include vcarticlebox102_theme();

.vcarticlebox102 {
  @extend %padd--4; // temp. use padding of parent container instead

  article {
    @extend %padd--4;
  }

  .vcarticlebox102_heading1,
  .vcarticlebox102_heading2 {
    @extend %padd-bottom--4;
  }

  .vcarticlebox102_heading1 + p {
    @extend %padd-bottom--4;
    @extend %margin-bottom--4;
  }

  .vcarticlebox102_heading2 + p {
    line-height: 114%;
  }

  .vcarticlebox102_article-title {
    @extend %pos--relative;
  }

  .vcarticlebox102_extras {
    @extend %display--inline-block;
    @extend %padd--6;
    width: 100%;

    button {
      float: right;
      margin-right: 6px;
    }

    // p {
    //   see mq below
    // }
  }

  .vcarticlebox102_img-holder {
    @extend %padd--4;
    border: 1px solid #000;
    max-width: 160px;
  }
}

// mobile portrait (320x480) 
@include mq($from: mobile) {
  .vcarticlebox102 {
    .vcarticlebox102_img-holder {
      margin: auto;
    }

    .vcarticlebox102_extras {
      p {
        // display: block;
        margin-bottom: 10px;
      }
    }
  }
}

// mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .vcarticlebox102 {
    .vcarticlebox102_img-holder {
      display: block;
      margin: auto;
      width: 20%;
      float: left;
    }

    article {
      display: block;
      width: 80%;
      float: left;
    }

    .vcarticlebox102_extras {
      p {
        display: inline-block;
        margin: auto;
      }
    }
  }
}

// vcarticlebox103
// ==================================================/
@mixin vcarticlebox103_theme() {
  .vcarticlebox103 {
    background-color: #2a2a2d;
    color: #d5d5d5;

    .vcarticlebox103_heading1,
    .vcarticlebox103_heading2 {
      color: #fff;
    }

    .vcarticlebox103_heading1 + p {
      border-bottom: 1px dashed #5c5d60;
    }

    .vcarticlebox103_title-info {
      background-color: #1c1d22;
      // border: 1px solid #5c5d60;
    }

    .vcarticlebox103_extras {
      background-color: #343437;
    }
  }
}
@include vcarticlebox103_theme();

.vcarticlebox103 {
  @extend %padd--4; // temp. use padding of parent container instead

  article {
    @extend %padd--4;
  }

  li {
    // margin-bottom: 6px;
  }

  .vcarticlebox103_heading1,
  .vcarticlebox103_heading2 {
    @extend %padd-bottom--4;
  }

  .vcarticlebox103_heading1 + p {
    @extend %padd-bottom--4;
    @extend %margin-bottom--4;
  }

  .vcarticlebox103_heading2 + p  {
    line-height: 114%;
  }

  .vcarticlebox103_img-holder {
    margin: 0 4px 0 4px; /* trbl */
  }

  .vcarticlebox103_extras {
    @extend %display--inline-block;
    @extend %padd--6;
    width: 100%;
    
    button {
      float: right;
      margin-right: 4px;
    }

    // p {
    //   see mq below
    // }
  }

  .vcarticlebox103_img-holder {
    @extend %margin--auto;
    @extend %padd--4;
    background-color: #000;
    max-width: 160px;
    
    > img {
      margin-bottom: -2px;
    }
  }

  .vcarticlebox103_badge {
    background-color: #666;
    border: 1px solid #000;
    border-radius: 5px;
    /* trbl */
    padding: 1px 4px 1px 4px;
    color: #fff;
    font-size: 8pt;
    font-weight: bold;
  }

  .vcarticlebox103_title-info {
    @extend %padd--4;
    @include font-size(14px);
    @extend %margin-bottom--4;
    

    li {
      float: left;
      margin: 4px;
    }
  }
}

// mobile portrait (320x480) 
@include mq($from: mobile) {
  .vcarticlebox103 {
    .vcarticlebox103_extras {
      p {
        margin-bottom: 10px;
      } 
    }

    .vcarticlebox103_img-holder {
      margin: auto;
    }
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .vcarticlebox103 {
    .vcarticlebox103_img-holder {
      display: block;
      width: 20%;
      float: left;
    }

    article {
      display: block;
      width: 80%;
      float: left;
    }

    .vcarticlebox103_extras {
      p {
        display: inline-block;
        margin-bottom: auto;
      }  
    }
  }
}

// vcarticlebox104
// ==================================================/
@mixin vcarticlebox104_theme() {
  .vcarticlebox104 {
    background-color: #141416;
    color: #d5d5d5;

    .vcarticlebox104_heading {
      color: #fff;
    }

    .vcarticlebox104_heading + hr{
      color: #5c5d60; /* old IE */
      background-color: #5c5d60; /* Modern Browsers */
    }

    .vcarticlebox104_img-holder {
      border: 1px solid #000;
      background-color: #666;
    }
  }
}
@include vcarticlebox104_theme();

.vcarticlebox104 {
  @extend %padd--4;

  .vcarticlebox104_heading {
    @extend %display--inline-block;
    @extend %margin-bottom--4;
  }

  .vcarticlebox104_heading + hr{
    border: none;
    height: 1px;
    margin: 0;
  }

  .vcarticlebox104_heading ~ p {
    @extend %padd--4;
    line-height: 114%;
  }

  .vcarticlebox104_img-holder {
    @extend %padd--4;
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 6px;
    
    > img {
      height: 100%;
    }
  }
}

// mobile portrait (320x480)
@include mq($from: mobile) {
  .vcarticlebox104 {
    .vcarticlebox104_img-holder {
      float: none;
      clear: right;
      margin-right: auto;
      margin-left: auto;
    }

    article {
      float: none;
    }
  }
}

// mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .vcarticlebox104 {
    .vcarticlebox104_img-holder {
      float: left;
      margin-right: 6px;
    }
  }
}

// vcarticlebox105
// ==================================================/
@mixin vcarticlebox105_theme() {
  .vcarticlebox105{
    background-color: #2a2a2d;
    color: #d5d5d5;

    .vcarticlebox105_heading,
    .vcarticlebox105_img-holder_heading {
      color: #fff;
    }

    .vcarticlebox105_img-holder {
      border: 1px solid #000;

      > img {
        border: 1px solid #000;
      }
    }

    .vcarticlebox105_heading + hr {
      color: #5c5d60; /* old IE */
      background-color: #5c5d60; /* Modern Browsers */
    }

    .vcarticlebox105_extras {
      background-color: #343437;
    }
  }
}
@include vcarticlebox105_theme();

.vcarticlebox105 {
  @extend %padd--4;

  .vcarticlebox105_heading {
    @extend %margin-bottom--4;
  }

  .vcarticlebox105_heading + hr {
    border: none;
    height: 1px;
    margin: 0;
  }

  .vcarticlebox105_heading ~ p {
    line-height: 114%; /* most browsers is about 110% to 120% */
    @extend %margin-top--4;
  }
  
  .vcarticlebox105_img-holder {
    @extend %padd--4;
    margin-right: 1%;
    
    > img {
      @extend %img--responsive;
    }

    .vcarticlebox105_img-holder_heading {
      margin: 4px 0 4px 0; /* trbl */
    }

    p {
      line-height: 114%; /* most browsers is about 110% to 120% */
    }

    button {
      margin-top: 4px;
    }
  }

  .vcarticlebox105_extras {
    @extend %padd--4;
    @extend %margin-top--4;  
  }
}

// vcarticlebox105 media queries (_mq.scss)
// ==================================================/
// mobile portrait (320x480)
@include mq($from: mobile) {
  .vcarticlebox105 {
    > .vcarticlebox105_img-holder {
      float: none;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 6px;
      width: 100%;
    }
  }
}

// mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .vcarticlebox105 {
    > .vcarticlebox105_img-holder {
      float: left;
      margin-right: 1%;
      margin-bottom: auto;
      width: 40%;
      max-width: 256px;
    }
  }
}

// wide 1200px
@include mq($from: wide) {
  .vcarticlebox105 {
    > .vcarticlebox105_img-holder {
      float: left;
      margin-right: 1%;
      width: 40%;
    }
  }  
}